div#header,
div#subscription_list_area,
div#subscription_list_menu,
div#subscription_list_main,
div#subscription_area,
div#subscription_menu,
div#subscription_main {
	position: absolute;
	margin: 0; padding: 0;
}

/* /////////////////// */

body {
	margin: 0;
	padding: 0;
}


div#header {
	background-color: #222222;
	overflow: hidden;
}

	div#header a.brand {
		margin-left: 0;
	}


div#subscription_list_area {
	overflow: hidden;
}

	div#subscription_list_menu {
		overflow: hidden;
	}
	
	div#subscription_list_main {
		overflow: auto;
	}


div#subscription_area {
	overflow: auto;
	background-color: #FFFFFF;
}

	div#subscription_menu {
		overflow: hidden;
	}
	
	div#subscription_main {
		overflow: auto;
	}

div.menu_padding {
	padding: 10px;
}
