body {
	margin: 0;
	padding: 0;
}

div#header,
div#subscription_list_area,
div#content {
	position: absolute;
	margin: 0; padding: 0;
}

div#header {
	background-color: #222222;
	overflow: hidden;
}

div#subscription_list_area {
	background-color: #EEEEEE;
	overflow: auto;
}

div#subscription_area {
	background-color: #FFFFFF;
	overflow: auto;
}
