<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <title>MomohaFeed</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="/static/feed/root_layout.css" />
    <link rel="stylesheet" href="/static/feed/subscription.css" />
</head>

<body>

<script src="/static/jquery/jquery-1.9.1.js"></script>
<script src="/static/bootstrap/js/bootstrap.js"></script>
<script src="/static/cookie/jquery.cookie.js"></script>
<script src="/static/json/json2.js"></script>
<script src="/static/feed/utils.js"></script>
<script src="/static/feed/root_layout.js"></script>
<script src="/static/feed/add_subscription.js"></script>
<script src="/static/feed/list_subscription.js"></script>
<script src="/static/feed/subscription.js"></script>
<script src="/static/feed/share.js"></script>
<script src="/feed/cmd.js"></script>
<script src="/static/feed/main.js"></script>

<div id="header" class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
	<a class="brand" href="#">MomohaFeed</a>
  </div>
</div>

<div id="list_subscription_area">
	<div id="list_subscription_menu">
		<div class="menu_padding">
			<a id="show_add_subscription_modal_btn" href="#add_subscription_modal" role="button" class="btn" data-toggle="modal"><i class="icon-plus"></i>Add</a>
		</div>
	</div>
	<div id="list_subscription_main">
		<ul id="list_subscription_ul" class="nav nav-list"></ul>
	</div>
</div>

<div id="subscription_area">
	<div id="subscription_menu">
		<div class="menu_padding">
			<a id="subscription_poll_btn" href="#subscription_poll" role="button" class="btn"><i class="icon-refresh"></i>Poll</a>
		</div>
	</div>
	<div id="subscription_main">
		<table id="subscription_list_item_table" class="table"></table>
	</div>
</div>

<div id="import">
</div>

</body>

</html>
