<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <title>MomohaFeed</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="/static/feed/root_layout.css" />
</head>

<body>

<script src="/static/jquery/jquery-1.9.1.js"></script>
<script src="/static/bootstrap/js/bootstrap.js"></script>
<script src="/static/feed/root_layout.js"></script>
<script src="/static/feed/add_subscription.js"></script>
<script src="/static/feed/main.js"></script>

<div id="header">
</div>

<div id="subscription_list_area">
	<div id="subscription_list_menu">
		<div class="menu_padding">
			<a href="#add_subscription_modal" role="button" class="btn" data-toggle="modal"><i class="icon-plus"></i>Add</a>
		</div>
	</div>
	<div id="subscription_list_main"></div>
</div>

<div id="subscription_area">
	<div id="subscription_menu"></div>
	<div id="subscription_main"></div>
</div>

<div id="import">
</div>

</body>

</html>
