{% extends "base.tmpl" %}

{% load url from future %}

{% block title %}Subscription list{% endblock %}

{% block main %}
<h1>Subscription list</h1>

<div class="row">
<table class="span12" border="1">
	<tr>
		<th>ID</th>
		<th>URL</th>
	</tr>
	{% for subscription in subscription_list %}
		<tr>
			<td><a href="{% url 'MomohaFeed.views.subscriptionListContent' subscription_id=subscription.id %}">{{ subscription.id }}</a></td>
			<td>{{ subscription.feed.url }}</td>
		</tr>
	{% endfor %}
</table>
</div>
{% endblock %}
