{% extends "base.tmpl" %}

{% load url from future %}

{% block title %}Subscription list{% endblock %}

{% block main %}
<h1>Subscription list</h1>

<div class="row">
<table class="span12" border="1">
	<tr>
		<th>Title</th>
	</tr>
	{% for db_subscription in db_subscription_list %}
		<tr>
			<td><a href="{% url 'MomohaFeed.views.subscription_list_content' subscription_id=db_subscription.id %}">{{ db_subscription.feed.title }}</a></td>
		</tr>
	{% endfor %}
</table>
</div>
{% endblock %}
