{% extends "base.tmpl" %}

{% load url from future %}

{% block title %}{{ db_item.title }}{% endblock %}

{% block main %}
<div><a href="{% url 'MomohaFeed.views.subscription_list_content' subscription_id=db_subscription.id %}">{{ db_subscription.feed.title }}</a></div>
<h1><a href="{{ db_item.link }}">{{ db_item.title }}</a></h1>
<div>{{ db_item.published }}</div>
<div>{{ db_item.content|safe }}</div>
{% endblock %}
