{% extends "base.tmpl" %}

{% load url from future %}

{% block title %}{{ db_subscription.feed.title }}{% endblock %}

{% block main %}
<h1>{{ db_subscription.feed.title }}</h1>

<div class="row">
<table class="span12" border="1">
	<tr>
		<th>Title</th>
		<th>date</th>
	</tr>
	{% for db_item in db_item_list %}
		<tr>
			<td><a href="{% url 'MomohaFeed.views.subscription_item_show' subscription_id=db_subscription.id item_id=db_item.id %}">{{ db_item.title }}</a></td>
			<td>{{ db_item.published }}</td>
		</tr>
	{% endfor %}
</table>
</div>
{% endblock %}
