img.subscription_share_btn {
	margin: 2px;
	cursor: pointer;
}

.subscription_readdone {
	background-color: #EEEEEE;
}

#subscription_menu_toolbar{
	margin: 0px;
	padding: 0px;
}

#subscription_progress{
	display: none;
}

#subscription_rm_modal_progress {
	margin-bottom: 0px;
	margin-top: 10px;
}

#subscription_main_title .sub {
	margin-right: 10px;
	margin-top: 24px;
	color: #b2b2b2;
	font-size: 14px;
	font-weight: lighter;
	float: right;
	line-height: 14px;
}

.link_icon {
	opacity: 0.382;
	cursor: pointer;
}

.link_icon:hover {
	opacity: 1;
}

.subscription_item_brief_info {
	text-align: right !important;
	color: #b2b2b2;
}

.subscription_item {
	border-top-width: 1px !important;
}

.click_open_detail,
.click_close_detail {
	cursor: pointer;
}

td.subscription_last_poll,
td.subscription_item_published {
	text-align: right;
	color: #b2b2b2;
}

td.subscription_item_title,
td.subscription_item_brief_title {
	width: 100%;
}

.subscription_item_detail h4 {
	margin: 0px;
}

.subscription_item_detail .tr_cont td {
	padding-top: 0px;
}

.subscription_item_detail td {
	border: 0px none;	
}

.nowrap {
	white-space: nowrap;
}

.no_padding_right {
	padding-right: 0px !important;
}

.subscription_item i {
	margin-top : 3px;
}
